*{
   background-color: #f1f1f1;
   font-size: larger;
}

.cabecera{
    text-align: center;
    justify-content: center;
    
    background-color: black;
    color: white;
}
footer{
    text-align: end;
    font-size: small;
    color: gray;
}